.post-list {
    display: flex;
    flex-wrap: wrap;
}

.home-content {
    display: flex;
    flex: 1;
    height: 100%;
}
.post-list-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 2%;
}