.pagination-content {
    margin-top: 2rem;
}

.pagination-menu {
    border: none;
    box-shadow: none;
}
.pagination-menu .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    padding: none !important;
    width: 30px;
    height: 30px;
    min-width: 0 !important;
    margin: 0 5px;
    outline: none;
}
.pagination-menu .item.active {
    background: #5037EB !important;
    color: #fff !important;
}
